<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header" style="text-align: center;">
            <h3>HelloTicket</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">員工管理</a>
                <ul class="collapse list-unstyled" id="employeeSubmenu">
                    <li>
                        <a href="#">員工新增</a>
                    </li>
                    <li>
                        <a href="#">員工名冊</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#memberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">會員管理</a>
                <ul class="collapse list-unstyled" id="memberSubmenu">
                    <li>
                        <a href="#">訂單管理</a>
                    </li>
                    <li>
                        <a href="#">會員權限管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">商品管理</a>
                <ul class="collapse list-unstyled" id="productSubmenu">
                    <li>
                        <a href="#">商品上架</a>
                    </li>
                    <li>
                        <a href="#">會員總覽</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#movieSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">電影管理</a>
                <ul class="collapse list-unstyled" id="movieSubmenu">
                    <li>
                        <a href="#">電影上架</a>
                    </li>
                    <li>
                        <a href="#">電影總覽</a>
                    </li>
                    <li>
                        <a href="#">電影時刻表</a>
                    </li>
                    <li>
                        <a href="#">電影評論管理</a>
                    </li>
                    <li>
                        <a href="#">電影座位管理</a>
                    </li>
                    <li>
                        <a href="#">電影選項設定</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">小遊戲管理</a>
            </li>
            <li>
                <a href="#">數據統計</a>
            </li>
        </ul>
    </nav>
</div>